.time-wheel {
  --shift-deg: -45deg;
  --deg-step: 360deg;
  position: relative;
  width: 530px;
  height: 530px;

  border-radius: 50%;
  border: 1px solid rgba($color: #42567a, $alpha: 0.2);

  .wheel-center {
    position: absolute;
    top: 50%;
    left: 50%;

    width: max-content;

    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;

    font-size: var(--primary-font-size);
    font-weight: bold;

    transform: translate(-50%, -50%);

    span:nth-child(1) {
      color: var(--blue);
    }
    span:nth-child(2) {
      color: var(--pink);
    }
  }
  .wheel-element {
    position: absolute;
    left: 50%;
    top: 50%;

    width: 265px;
    height: 10px;

    transform-origin: 0 50%;
    transition: 2s;

    .content {
      position: absolute;
      top: 50%;
      left: 100%;

      display: flex;
      gap: 20px;

      font-size: var(--ternary-font-size);
      color: var(--secondary-color);

      transition: 2s;
      .index {
        width: 50px;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;

        border: 1px solid var(--secondary-color);
        border-radius: 50%;
        background-color: var(--primary-color);
      }

      .header {
        position: absolute;

        top: 50%;
        left: 120%;

        font-weight: bold;

        transform: translate(0, -50%);
      }
    }

    &.disabled {
      @extend .wheel-element;

      .index {
        width: 10px;
        height: 10px;
        background-color: var(--secondary-color);

        transition: 2s;
        color: transparent;

        &:hover {
          width: 50px;
          height: 50px;

          background-color: var(--primary-color);
          transition: 2s;
          color: var(--secondary-color);
        }
      }

      .header {
        display: none;
      }
    }

    @for $i from 2 to 8{
      &:nth-child(#{$i}) {
        transform: translate(0, -50%) rotate(calc(var(--shift-deg) + var(--deg-step) * #{$i}));
        .content {
          transform: translate(-50%, -50%)
            rotate(calc(var(--shift-deg) * (-1) + var(--deg-step) * #{$i * (-1)}));
        }
      }
    }
  }
}
