@import "../../App";


.time-wheel {
  --shift-deg: -45deg;
  --deg-step: 360deg;
  position: relative;
  width: 530px;
  height: 530px;

  max-width: 530px;
  max-height: 530px;
  min-width: 530px;
  min-height: 530px;


  border-radius: 50%;
  border: 1px solid rgba($color: $secondary-color, $alpha: 0.2);


  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: calc(50% );
    transform: translate(-50%, -50%);
    width: calc(100% + 450px);
    height: 0.5px;
    background-color: $secondary-color;
    opacity: 0.2;

    
  }
  &::after {
    height: 340%;
    width: 0.5px;
  }

  .wheel-center {
    position: absolute;
    top: 50%;
    left: 50%;

    width: max-content;

    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;

    font-size: $primary-font-size;
    font-weight: bold;

    transform: translate(-50%, -50%);

    span:nth-child(1) {
      color: $blue;
    }
    span:nth-child(2) {
      color: $pink;
    }
  }
  .wheel-element {
    position: absolute;
    left: 50%;
    top: 50%;

    width: 265px;
    height: 10px;

    transform-origin: 0 50%;
    transition: 2s;

    .content {
      position: absolute;
      top: 50%;
      left: 100%;

      display: flex;
      gap: 20px;

      font-size: $ternary-font-size;
      color: $secondary-font-size;

      transition: 2s;
      .index {
        width: 50px;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: $ternary-font-size;
        text-align: center;

        border: 1px solid $secondary-color;
        border-radius: 50%;
        background-color: $primary-color;
      }

      .header {
        position: absolute;

        top: 50%;
        left: 120%;

        font-weight: bold;

        transform: translate(0, -50%);
      }
    }

    &.disabled {
      @extend .wheel-element;

      .index {
        width: 10px;
        height: 10px;
        background-color: $secondary-color;

        transition: 2s;
        color: transparent;

        &:hover {
          width: 50px;
          height: 50px;

          background-color: $primary-color;
          transition: 2s;
          color: $secondary-color;
        }
      }

      .header {
        display: none;
      }
    }

    @for $i from 2 to 8{
      &:nth-child(#{$i}) {
        transform: translate(0, -50%) rotate(calc(var(--shift-deg) + var(--deg-step) * #{$i}));
        .content {
          transform: translate(-50%, -50%)
            rotate(calc(var(--shift-deg) * (-1) + var(--deg-step) * #{$i * (-1)}));
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex: 4;
    width: 100%;
    min-width: 0;
    min-height: 0;
    border: none;
    &::after, &::before, .wheel-element {
      display: none;
    }

    .wheel-center {
      width: calc(100% - 40px);
      gap: 30px;
      padding-bottom: 40px;

    }

  }
}



