@import "../../App";

.primary-button {
  position: relative;

  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba($color: $secondary-color, $alpha: 0.05);

  border: 1px solid $secondary-color;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: calc(50% + 2px);
    left: calc(50% - 8px);

    width: 9px;
    height: 9px;

    background: transparent;
    border-top: 3px solid $secondary-color;
    border-right: 3px solid $secondary-color;

    transform: rotate(45deg) translate(-50%, -50%);
  }

  &.left {
    transform: rotate(180deg);
  }

  &:disabled {
    opacity: 0.2;
  }

  &:hover {
    background: white;
  }
}

.secondary-button {
  @extend .primary-button;

  width: 40px;
  height: 40px;

  border: none;
  background: var(--white, #fff);
  box-shadow: 0px 0px 15px 0px rgba(56, 119, 238, 0.1);

  &::before {
    left: calc(50% - 6px);

    width: 6px;
    height: 6px;

    color: $blue;

    border-top: 3px solid $blue;
    border-right: 3px solid $blue;
  }
}

@media screen and (max-width: 768px) {
  .primary-button {
    width: 25px;
    height: 25px;

    &::before {
      content: "";
  
      top: calc(50% + 2px);
      left: calc(50% - 4px);
  
      width: 4px;
      height: 4px;
  
    }
  }
  .secondary-button {
    display: none;
  }
  
}
