@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

$primary-font-size: 200px;
$secondary-font-size: 56px;
$ternary-font-size: 20px;

$primary-color: #fff;
$secondary-color: #42567a;
$blue: #3877ee;
$iris: #5d5fef;
$pink: #ef5da8;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

button {
  outline: none;
}

.App {
  display: flex;
  height: 100vh;
  background: #F4F5F9;

  overflow: hidden;

  .side{
    flex: 1;
  }
  .center {
    flex: 10;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    border-right: 1px solid rgba($color: $secondary-color, $alpha: 0.2);
    border-left: 1px solid rgba($color: $secondary-color, $alpha: 0.2);

   

    .control {
      align-self: flex-start;

      padding: 20px 50px;

      display: flex;
      flex-flow: column;
      gap: 10px;
      
      span {
        font-size: $ternary-font-size;
        color: $secondary-color;
        text-align: center;
      }
      .buttons {
        
        display: flex;
        justify-content: center;
        gap: 20px;
      }
    }
  }
}
